<div></div>
{% schema %}
{
  "name": "[Enfita] Related products",
  "enabled_on": {
    "templates": [
      "product"
    ]
  },
  "settings": [
    {
      "type": "paragraph",
      "content": "This section has been deprecated since version 3.5.0. Please use App block instead by selecting \"Add section\" -> \"Apps\" -> \"Enfitah - Related products\". [Learn more](https://Enfitah.com/help)"
    }
  ],
  "presets": [
    {
      "name": "[Enfitah] Related products"
    }
  ]
}
{% endschema %}
